$violet: #5964e0;
$lightViolet: #939bf4;
$veryDarkBlue: #19202d;
$midnight: #121721;
$white: #ffffff;
$lightGray: #f4f6f8;
$gray: #9daec2;
$darkGray: #6e8098;

$colors: (
  primary: #{$violet},
  primary--light: #{$lightViolet},
  body-bg: #{$lightGray},
  body-text: #{$gray},
  main-component-bg: #{$white},
  heading: #{$veryDarkBlue},
  secondary-button-bg: rgba($violet, 0.1),
  secondary-button-bg--hover: rgba($violet, 0.3),
);
